/*General*/

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #d6c3fd;
}

.top-buffer {
  margin-top: 30px;
}


h1 {
  font-weight: 800;
}

/*Header and Navbar*/

header {
  background-image: url("../images/masthead-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 15rem;
  color: white;
  position: relative;
}

.navbar {
  background: #828D9A;
  border: none;
}

.navbar-inverse .navbar-brand {
  color: white;
  font-weight: 400;
}

.navbar-inverse .nav li a {
  color: white;
  font-weight: 400;
}

.intro-text {
  padding: 15rem 0;
}

.intro-name {
  font-size: 42pt;
  font-weight: 800;
}

/*Tree Border*/

.border {
  position: absolute;
  bottom: 0;
}

/*Portfolio*/

#portfolio {
  background: url("../images/flock_o_birds.png") bottom left no-repeat;
  color: white;
  text-align: center;
  padding-bottom: 30rem;
  position: relative;
}

#portfolio img {
  max-width: 100%;
  margin-top: 30px;
}

#portfolio p {
  margin-top: 30px;
  font-size: 16pt;
}

/*About*/

#about {
  background-color: #FDD7B0;
  color: white;
  text-align: center;
  padding-bottom: 30rem;
  position: relative;
}

#about h1 {
  margin-top: 0;
}

#about .me-pic{
  margin: 35px auto;
  height: 150px;
}

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;;
  content: "";
  width: 5px;
  background-color: orange;
}

@media (max-width: 1200px) {
  .timeline:before{
    background-color: #FDD7B0;
  }
}

.timeline li {
  margin-bottom: 75px;
}

.timeline-pic img {
  max-height: 250px;
  border: 2px solid orange;
  border-radius: 100%;
}

.timeline-panel {
  text-align: right;
}

.timeline-panel-reverse {
  text-align: left;
}
