body {
  /*padding-top: 50px;*/
}

header {
  background-image: url("../images/masthead-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.navbar {
background: rgba(0, 0, 0, 0.5);
}

.intro-text {
  padding: 15rem 0;
}

.intro-name {
  font-size: 42pt;
  font-family: 'Open Sans', sans-serif;
}
